<main role="main" class="text-center py-5">
      <div class="h1">Just write and run code online !</div>
      <p class="pt-1 mb-0">プログラミングの世界を覗いてみませんか？</p>
      <p>難しい環境構築は不要です。検索力（ググり力）を駆使してプログラムを組んでみましょう！</p>
      <p class="my-5">
        <%= link_to "覗いてみる Let's Try!", new_code_path, class: "btn btn-primary btn-lg rounded-pill" %>
      </p>
</main>
