<main role="main" class="text-center">
  <div class="h1 mb-5">RunCodeの使い方</div>

  <div class="card w-75 text-center mx-auto mb-5">
    <div class="card-header bg-info text-white">
      このシステム（RunCode）を作った理由
    </div>
    <div class="card-body">
      <div class="embed-responsive embed-responsive-21by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/C3DkKjRHMyM"></iframe>
      </div>
    </div>
  </div>
  <hr>
  <div class="card w-75 text-center mx-auto mb-5">
    <div class="card-header bg-info text-white">
      コードの作成・実行
    </div>
    <div class="card-body">
      <div class="embed-responsive embed-responsive-21by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vysYlWJBAlM"></iframe>
      </div>
    </div>
  </div>
  <hr>
  <div class="card w-75 text-center mx-auto mb-5">
    <div class="card-header bg-info text-white">
      クイズを表示
    </div>
    <div class="card-body">
      <div class="embed-responsive embed-responsive-21by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Be__XBQj5NY"></iframe>
      </div>
    </div>
  </div>
  <hr>
  <div class="card w-75 text-center mx-auto mb-5">
    <div class="card-header bg-info text-white">
      コードの保存
    </div>
    <div class="card-body">
      <div class="embed-responsive embed-responsive-21by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/05FM0M0eVH"></iframe>
      </div>
    </div>
  </div>
  <hr>
  <div class="card w-75 text-center mx-auto mb-5">
    <div class="card-header bg-info text-white">
      コードの編集・更新
    </div>
    <div class="card-body">
      <div class="embed-responsive embed-responsive-21by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/65zbixxrN6Q"></iframe>
      </div>
    </div>
  </div>
  <hr>
   <div class="card w-75 text-center mx-auto mb-5">
    <div class="card-header bg-info text-white">
      コードの削除
    </div>
    <div class="card-body">
      <div class="embed-responsive embed-responsive-21by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/o6Y5opgOoGc"></iframe>
      </div>
    </div>
  </div>
</main>
