<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "オンライン実行環境", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
        </li>
      <% else %>
        <li class="nav-item active">
          <a class="nav-link" data-toggle="modal" data-target="#signUpModal">Sign Up</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#logInModal">Log In</a>
        </li>
      <% end %>
    </ul>
  </div>
</nav>